<label class="pattern-label">{{'pattern' | translate}}</label>
<mat-select [value]="patternService.selectedPattern | async" (selectionChange)="onPatternChanged($event)">
  <mat-option *ngFor="let p of patterns" [value]="p">{{p.name | translate}}</mat-option>
</mat-select>
<label>{{'globalAccuracy' | translate}}</label>
<div class="result-value">{{accuracy$ | async| number:"0.2-2" | percent}}</div>
<app-state-controls
  [isStarted]="isStarted"
  (isStartedChanged)="startedChanged($event)"
  (reset)="algorithm.reset()"
></app-state-controls>
<app-settings></app-settings>
<app-classifiers-number></app-classifiers-number>
