<form [formGroup]="form">
  <ng-container *ngFor="let f of fieldsDefinitions" [ngSwitch]="f.type">
    <app-slider *ngSwitchCase="'decimal'" [control]="form.controls[f.field]" [name]="f.field" [valueConfig]="f"></app-slider>
    <ng-container *ngSwitchCase="'integer'">
      <label>{{f.field | translate}}</label>
      <mat-form-field >
        <input matInput [formControlName]="f.field" type="number" step="1" pattern="-?\d+" required>
        <mat-error *ngIf="form.get(f.field).hasError('min')">Value must be positive</mat-error>
        <mat-error *ngIf="form.get(f.field).hasError('required')">Value is required</mat-error>
        <mat-error *ngIf="form.get(f.field).hasError('pattern')">Integer values allowed only</mat-error>
      </mat-form-field>
    </ng-container>
  </ng-container>
</form>
