app-table {
  display: block;

  .table-container {
    max-height: 15rem;
    overflow: auto;

    tr.mat-row {
      height: 2rem;
    }
    td.mat-cell, th.mat-header-cell{
      &:not(:first-of-type) {
        padding-left: 0.25rem;
      }
      &:not(:last-of-type) {
        padding-right: 0.25rem;
      }
    }

    table {
      width: 100%;
    }
  }
}
