<app-section-header [label]="label | translate"></app-section-header>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0; else noClassifiers" matSort>
    <ng-container *ngFor="let col of columns" [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col | translate | titlecase}}</th>
      <td mat-cell *matCellDef="let element">{{element[col]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
<ng-template #noClassifiers>
  <app-no-content [message]="noValueMessage | translate"></app-no-content>
</ng-template>
