app-table {
  display: block;

  .table-container {
    max-height: 15rem;
    min-height: 15rem;
    overflow: auto;
    tr.mat-header-row {
      height: 2.5rem;
    }
    tr.mat-row {
      height: 2rem;
    }
    td.mat-cell, th.mat-header-cell{
      &:not(:first-of-type) {
        padding-left: 0.25rem;
      }
      &:first-of-type {
        padding-left: 1rem;
      }
      &:not(:last-of-type) {
        padding-right: 0.25rem;
      }
      &:last-of-type {
        padding-right: 1rem;
      }
    }

    table {
      width: 100%;
    }
  }
}
