<form (submit)="addClassifier()" [formGroup]="form" (focusin)="onFocus()" (focusout)="onFocusOut()">
  <app-add-classifier-input [control]="conditionControl" [name]="'condition' | translate"></app-add-classifier-input>
  <div class="then-indicator">/</div>
  <app-add-classifier-input [control]="actionControl" [name]="'action' | translate"></app-add-classifier-input>
  <button mat-icon-button type="submit" [disabled]="form.pristine || form.invalid" [matTooltip]="'add' | translate">
    <mat-icon>add</mat-icon>
  </button>
</form>
