$themes: (
  deeppurple-amber: (
    background: #fafafa,
    accient: #FFC107,
    primary: #673AB7
  ),
  indigo-pink: (
    background: #fafafa,
    accient: #E91E63,
    primary: #3F51B5
  ),
  pink-bluegrey: (
    background: #303030,
    accient: #607D8B,
    primary: #E91E63
  ),
  purple-green: (
    background: #303030,
    accient: #4CAF50,
    primary: #9C27B0
  )
);
