$light-background: #fafafa;
$dark-background: #303030;
$themes: (
  deeppurple-amber: (
    background: $light-background,
    accient: #FFC107,
    primary: #673AB7
  ),
  indigo-pink: (
    background: $light-background,
    accient: #E91E63,
    primary: #3F51B5
  ),
  pink-bluegrey: (
    background: $dark-background,
    accient: #607D8B,
    primary: #E91E63
  ),
  purple-green: (
    background: $dark-background,
    accient: #4CAF50,
    primary: #9C27B0
  ),
  orange-lime: (
    background: $light-background,
    accient: #CDDC39,
    primary: #FF9800
  ),
  deeporange-green: (
    background: $dark-background,
    accient: #43A047,
    primary: #FF8A65
  )
);
