@import "./colors";

@mixin prepare-theme-view($name, $palette) {
  &.#{$name} svg {
    .theme-icon-background {
      fill: map-get($palette, "background");
    }

    .theme-icon-button {
      fill: map-get($palette, "accient");
    }

    .theme-icon-toolbar {
      fill: map-get($palette, "primary");
    }
  }
}

.theme-picker-menu {
  .mat-menu-item {
    .theme-example-icon {
      margin-right: 0;
      margin-left: 8px;
      float: right;

      svg {
        vertical-align: middle;
        width: 1.5rem;
      }

      @each $name, $palette in $themes {
        @include prepare-theme-view($name, $palette);
      }
    }
  }
}
