<app-classifiers-number></app-classifiers-number>
<div class="result">
  <div class="result-label">Global accuracy</div>
  <div class="result-value">{{accuracy | number:"0.2-2" | percent}}</div>
</div>
<div class="buttons">
  <button mat-icon-button (click)="isStarted ? algorithm.stop() : algorithm.start()" [matTooltip]="isStarted ? 'Stop' : 'Start'">
    <mat-icon>{{isStarted ? "stop": "play_arrow"}}</mat-icon>
  </button>
  <button mat-icon-button (click)="algorithm.reset()" matTooltip="Reset">
    <mat-icon>replay</mat-icon>
  </button>
</div>
<mat-select [value]="patternService.selectedPattern | async" (selectionChange)="onPatternChanged($event)">
  <mat-option *ngFor="let p of patterns" [value]="p">{{p.name}}</mat-option>
</mat-select>
