/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --main-background-color: #424242;
  --zero-color: #fff;
  --one-color: #212121;
  --unknown-color: #9E9E9E;
}
