html, body {
  height: 100%;
}

html {
  overflow-x: auto;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid slategrey;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --form-margin: 1.25rem;
  --main-background-color: #424242;
  --zero-color: #fff;
  --one-color: #212121;
  --unknown-color: #9E9E9E;
  @import "./app/ui-utils/theme-picker/colors";
  @each $name, $palette in $themes {
    body[theme=#{$name}] {
      $accient: lighten(map_get($palette, "accient"), 30);
      $primary: darken(map_get($palette, "primary"), 10);
      $unknown: mix($accient, $primary);
      --main-background-color: #{$unknown};
      --zero-color: #{$accient};
      --one-color: #{$primary};
      --unknown-color: #{$unknown};
    }
  }

  --start-color: #8BC34A;
  --stop-color: #F44336;
  --reset-color: #FFC107;
}


.mat-form-field-flex .mat-form-field-infix {
  width: 4rem;
}

label {
  justify-self: flex-end;
}
