html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --main-background-color: #424242;
  --zero-color: #fff;
  --one-color: #212121;
  --unknown-color: #9E9E9E;
  --form-margin: 1.25rem;
}
.mat-form-field-flex .mat-form-field-infix {
  width: 4rem;
}

label {
  justify-self: flex-end;
}
